/* -------  General Styles ------- */
/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 22px;
  font-weight: 550;
  /* font-weight: bold; */
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0
}

.form-item {
  flex: 1;
  margin: 12px 5px;
}

.about-item {
  flex: 1;
  margin: 12px;
}

.ideas-item {
  flex: 1;
  margin: 12px;
}

.host-item {
  flex: 1;
  margin: 12px;
}

.group img {
  width: 100%;
  margin-bottom: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 50px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 0 20px 0;
    padding-left: 0;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
  font-size: x-large;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
}

.label-input-style {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  display: flex;
  width: 100%;
}

.date::placeholder {
  color: black;
} 

 .space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    
  }
  
  .logo {
    font-size: 36px;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  form div {
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px 0 0;
  }

  form input, form select{
    margin-bottom: 0;
  }

  form button {
    padding: 10px 56px;
  }

  .group {
    flex-direction: row;
    align-items: center;
  }

  #about img {
    align-items: center;
  }
  
  .grow1 {
    flex-grow: 1;
  }

  .grow2 {
    flex-grow: 2;
  }

  #ideas .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #host .item img {
    flex-grow: 2;
  }

}
